@model ApplicationVM;
@inject ISessionService service;
@inject IDropdownService dropdownService;
@{
    var title = $"Application #{Model.TrackNumber}";
    Layout = "_DashboardLayout";
    ViewData["Title"] = title;

}


<h3 class="mt-4">@title</h3>
<ol class="breadcrumb mb-2">
    <li class="breadcrumb-item"><i class="fa fa-home"></i></li>
    <li class="breadcrumb-item">Applications</li>
    <li class="breadcrumb-item active">@Model.TrackNumber</li>

</ol>

<div class="row">
    <div class="col-lg-8 col-sm-12">
        <div class="card mt-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 border-right">
                        <div class="f14">
                            <div class="d-flex">
                                <div style="min-width:130px" class="mini-bold">Requested Meter: </div>
                                <div class="flex-fill">@Model.MeterName</div>
                            </div>
                            <div class="d-flex">
                                <div style="min-width:130px" class="mini-bold">Amount Paid: </div>
                                <div class="flex-fill">@Model.Payment.Amount</div>
                            </div>
                            <div class="d-flex">
                                <div style="min-width:130px" class="mini-bold">Status: </div>
                                <div class="flex-fill">
                                    <span class="badge bg-lblue rounded-pill py-1 px-2" style="word-break:break-word;">@Model.Status</span>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div style="min-width:130px" class="mini-bold">Assigned To: </div>
                                <div class="flex-fill">
                                    <span class="" style="word-break:break-word;">@Model.Installer</span>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div style="min-width:130px" class="mini-bold">Assigned By: </div>
                                <div class="flex-fill">
                                    <span class="" style="word-break:break-word;">@Model.AssignedByUser</span>
                                </div>
                            </div>
                        </div>
                        <h6 class="mini-bold mt-4">Applicant Info</h6>
                        <hr class="mt-2 mb-3" />
                        <div class="f14">
                            <div class="d-flex">
                                <div style="min-width:120px" class="mini-bold">First Name: </div>
                                <div class="flex-fill">@Model.FirstName</div>
                            </div>
                            <div class="d-flex">
                                <div style="min-width:120px" class="mini-bold">Last Name: </div>
                                <div class="flex-fill">@Model.LastName</div>
                            </div>
                            <div class="d-flex">
                                <div style="min-width:120px" class="mini-bold">Email: </div>
                                <div class="flex-fill" style="word-break:break-word;">@Model.Email</div>
                            </div>
                            <div class="d-flex">
                                <div style="min-width:120px" class="mini-bold">Phone No: </div>
                                <div class="flex-fill">@Model.PhoneNumber</div>
                            </div>
                        </div>

                        <h6 class="mini-bold mt-4">Address</h6>
                        <hr class="mt-2 mb-3" />
                        <div class="f14">
                            <div class="d-flex">
                                <div style="min-width:120px" class="mini-bold">Area: </div>
                                <div class="flex-fill">@Model.Area</div>
                            </div>
                            <div class="d-flex">
                                <div style="min-width:120px" class="mini-bold">House No: </div>
                                <div class="flex-fill">@Model.HouseNumber</div>
                            </div>
                            <div class="d-flex">
                                <div style="min-width:120px" class="mini-bold">Apartment No: </div>
                                <div class="flex-fill" style="word-break:break-word;">@Model.ApartmentNumber</div>
                            </div>
                            <div class="d-flex">
                                <div style="min-width:120px" class="mini-bold">Street: </div>
                                <div class="flex-fill">@Model.Street</div>
                            </div>
                            <div class="d-flex">
                                <div style="min-width:120px" class="mini-bold">Landmark: </div>
                                <div class="flex-fill">@Model.Landmark</div>
                            </div>
                            <div class="d-flex">
                                <div style="min-width:120px" class="mini-bold">Description: </div>
                                <div class="flex-fill">@Model.Description</div>
                            </div>
                        </div>

                        <h6 class="mini-bold mt-4">House Description</h6>
                        <hr class="mt-2 mb-3" />
                        <div class="f14">
                            <div class="d-flex">
                                <div style="min-width:120px" class="mini-bold">House Type: </div>
                                <div class="flex-fill">@Model.HouseType</div>
                            </div>
                            <div class="d-flex">
                                <div style="min-width:120px" class="mini-bold">No of Rooms: </div>
                                <div class="flex-fill">@Model.RoomsCount</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h6 class="mini-bold mt-4">Pets</h6>
                        <hr class="mt-2 mb-3" />
                        <div class="f14 table-responsive">
                            <table class="table table-sm table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Pet</th>
                                        <th>No.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Pets != null && Model.Pets.Count() > 0)
                                    {
                                        var cnt = 1;
                                        foreach (var p in Model.Pets)
                                        {
                                            <tr>
                                                <td>@cnt.</td>
                                                <td>@p.Name</td>
                                                <td>@p.Count</td>
                                            </tr>
                                            cnt++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="3"><p class="text-center">No pets</p></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <h6 class="mini-bold mt-4">Appliances</h6>
                        <hr class="mt-2 mb-3" />
                        <div class="f14 table-responsive">
                            <table class="table table-sm table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Appliance</th>
                                        <th>No.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Appliances != null && Model.Appliances.Count() > 0)
                                    {
                                        var cnt = 1;
                                        foreach (var p in Model.Appliances)
                                        {
                                            <tr>
                                                <td>@cnt.</td>
                                                <td>@p.Name</td>
                                                <td>@p.Count</td>
                                            </tr>
                                            cnt++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="3"><p class="text-center">No appliance</p></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="f12 mt-4 font-italic">
                            <hr />
                            <div class="d-flex">
                                <div style="min-width:120px" class="mini-bold">Date Created: </div>
                                <div class="flex-fill">@Model.FormattedCreatedDate</div>
                            </div>
                            <div class="d-flex">
                                <div style="min-width:120px" class="mini-bold">Last Updated By: </div>
                                <div class="flex-fill">@Model.UpdatedBy</div>
                            </div>
                            <div class="d-flex">
                                <div style="min-width:120px" class="mini-bold">Date Updated: </div>
                                <div class="flex-fill" style="word-break:break-word;">@Model.FormattedUpdatedDate</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        @if (User.IsInRole(Constants.ROLE_ADMIN) || (User.IsInRole(Constants.ROLE_INSTALLER) && new long[] { 2, 3, 4, 5, 7 }.Contains(Model.StatusId)) || (User.IsInRole(Constants.ROLE_DISCO) && new long[] { 6, 7 }.Contains(Model.StatusId)))
        {

            <div class="card mt-3">
                <div class="card-body">
                    <h6 class="mini-bold">Update Application Status</h6>
                    <hr class="mt-2 mb-3" />
                    <div style="max-width:450px;">
                        <form method="post">
                            <fieldset>
                                <input type="hidden" id="applicationId" value="@Model.Id" />
                                <div class="form-group">
                                    <label for="status" class="f14">* Status</label>
                                    <select id="status" class="form-control custom-select" asp-items="dropdownService.GetApplicationStatuses(Model.StatusId.ToString())" required></select>
                                </div>
                                <div class="form-group" id="commentDiv" style="display:none;">
                                    <label for="comment" class="f14">* Comment</label>
                                    <textarea id="comment" class="form-control" rows="3" placeholder="Enter comment"></textarea>
                                </div>
                                <p class="text-right">
                                    <button type="submit" id="updateBtn" class="btn btn-sm btn-primary px-4"><i class="fa fa-check-circle"></i> &nbsp;Update</button>
                                </p>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

        }
        @if (User.IsInRole(Constants.ROLE_ADMIN) || (User.IsInRole(Constants.ROLE_SUPERVISOR)))
        {
            <div class="card mt-3">
                <div class="card-body">
                    <h6 class="mini-bold">Assign Installer</h6>
                    <hr class="mt-2 mb-3" />
                    <div style="max-width:450px;">
                        <form method="post">
                            <fieldset>
                                <input type="hidden" id="applicationId" value="@Model.Id" />
                                <div class="form-group">
                                    <label for="installer" class="f14">* Select Installer</label>
                                    <select id="installer" class="form-control custom-select chosen-select w-100" asp-items="dropdownService.GetInstallers(Model.InstallerId.ToString())" required></select>
                                </div>
                                <p class="text-right">
                                    <button type="submit" id="assignBtn" class="btn btn-sm btn-primary px-4"><i class="fa fa-check-circle"></i> &nbsp;Assign</button>
                                </p>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

        }
    </div>
</div>

<div class="row mt-2">
    <div class="col-md-12">
        <!--status logs-->
        <div class="card">
            <div class="card-body">
                <h6 class="mini-bold">Application Status Log</h6>
                <div class="f14 table-responsive">
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Status</th>
                                <th>Comment</th>
                                <th>Action&nbsp;By</th>
                                <th>Created&nbsp;Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.StatusLogs != null && Model.StatusLogs.Count() > 0)
                            {
                                var cnt = 1;
                                foreach (var l in Model.StatusLogs)
                                {
                                    <tr>
                                        <td>@cnt.</td>
                                        <td>@l.Status</td>
                                        <td>@l.Comment</td>
                                        <td>@l.ActionBy</td>
                                        <td>@l.FormattedCreatedDate</td>
                                    </tr>
                                    cnt++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5"><p class="text-center">No record found</p></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section css{
    <link href="~/lib/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/lib/chosen/chosen.min.css" rel="stylesheet" />
}

@section js{
    <script src="~/lib/datatables.net/jquery.dataTables.js"></script>
    <script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/chosen/chosen.jquery.min.js"></script>
    <script>

    </script>
    <script src="~/js/application_details.js" asp-append-version="true"></script>

}