@model DashboardVM;
@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Dashboard";
}

<h2 class="mt-4">Dashboard</h2>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><i class="fa fa-home"></i></li>
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
<!-- Batches raw data -->
<div class="row align-items-stretch">
    @if (User.IsInRole(Constants.ROLE_ADMIN))
    {
        <div class="col-xl-3 col-lg-4 col-md-6 py-2">
            <div class="card bg-primary text-white mb-0 shadow h-100">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-users fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h5 class="pt-3 m-0 text-right">Users</h5>
                                <h4 class="text-right pt-1 text-right w-100">@Model.UserCount</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (User.IsInRole(Constants.ROLE_ADMIN) || User.IsInRole(Constants.ROLE_SUPERVISOR))
    {
        <div class="col-xl-3 col-lg-4 col-md-6 py-2">
            <div class="card bg-lblue text-white mb-0 shadow h-100">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-layer-group fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h6 class="pt-3 m-0 text-right">Batches</h6>
                                <h4 class="text-right pt-1 text-right w-100">@(Model.CustomerBatchCount+Model.InstallerBatchCount)</h4>
                            </div>
                        </div>
                    </div>
                    <p class="text-right">
                        <span class="badge badge-light badge-pill">@Model.CustomerBatchCount Customer Batches</span>
                        <span class="badge badge-light badge-pill">@Model.InstallerBatchCount Installation Batches</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 py-2">
            <div class="card bg-lblue text-white mb-0 shadow h-100">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-users fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h6 class="pt-3 m-0 text-right">Customers</h6>
                                <h4 class="text-right pt-1 text-right w-100">@Model.CustomerCount</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 py-2">
            <div class="card bg-lblue text-white mb-0 shadow h-100">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-comments fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h6 class="pt-3 m-0 text-right">Feedbacks</h6>
                                <h4 class="text-right pt-1 text-right w-100">@Model.FeedbackCount</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 py-2">
            <div class="card bg-info text-light mb-0 shadow h-100">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-history fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h6 class="pt-3 m-0 text-right">Pending Surveys</h6>
                                <h4 class="text-right pt-1 text-right w-100">@Model.PendingSurveyCount</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 py-2">
            <div class="card bg-success text-white mb-0 shadow h-100">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-check-circle fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h6 class="pt-3 m-0 text-right">Completed Surveys</h6>
                                <h4 class="text-right pt-1 text-right w-100">@Model.CompletedSurveyCount</h4>
                            </div>
                        </div>
                    </div>
                    <p class="text-right text-success">
                        <span class="badge badge-light badge-pill text-dark">@Model.NotMeterReadyCount Not Meter Ready</span>
                        <span class="badge badge-light badge-pill text-dark">@Model.MeterReadyCount Meter Ready</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 py-2">
            <div class="card bg-info text-light mb-0 shadow h-100">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-history fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h6 class="pt-3 m-0 text-right">Pending Installations</h6>
                                <h4 class="text-right pt-1 text-right w-100">@Model.PendingInstallationCount</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 py-2">
            <div class="card bg-success text-white mb-0 shadow h-100">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-check-circle fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h6 class="pt-3 m-0 text-right">Completed Installations</h6>
                                <h4 class="text-right pt-1 text-right w-100">@Model.CompletedInstallationCount</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 py-2">
            <div class="card bg-danger text-white mb-0 shadow h-100">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-times fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h6 class="pt-3 m-0 text-right">Rejected Installations</h6>
                                <h4 class="text-right pt-1 text-right w-100">@Model.RejectedInstallationCount</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 py-2">
            <div class="card bg-success text-white mb-0 shadow h-100">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-check-circle fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h6 class="pt-3 m-0 text-right">Approved Installations</h6>
                                <h4 class="text-right pt-1 text-right w-100">@Model.ApprovedInstallationCount</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
    @if (User.IsInRole(Constants.ROLE_SURVEY_STAFF))
    {
        <div class="col-xl-3 col-lg-4 col-md-6 py-2">
            <div class="card bg-info text-white mb-0 shadow h-100">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-history fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h6 class="pt-3 m-0 text-right">My Pending Surveys</h6>
                                <h4 class="text-right pt-1 text-right w-100">@Model.MyPendingSurveyCount</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 py-2">
            <div class="card bg-success text-white mb-0 shadow h-100">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-check-circle fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h6 class="pt-3 m-0 text-right">My Completed Surveys</h6>
                                <h4 class="text-right pt-1 text-right w-100">@Model.MyCompletedSurveyCount</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
    @if (User.IsInRole(Constants.ROLE_INSTALLER))
    {
        <div class="col-xl-3 col-lg-4 col-md-6 py-2">
            <div class="card bg-info text-white mb-0 shadow h-100">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-history fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h6 class="pt-3 m-0 text-right">My Pending Installations</h6>
                                <h4 class="text-right pt-1 text-right w-100">@Model.MyPendingInstallationCount</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 py-2">
            <div class="card bg-success text-white mb-0 shadow h-100">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-check-circle fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h6 class="pt-3 m-0 text-right">My Completed Installations</h6>
                                <h4 class="text-right pt-1 text-right w-100">@Model.MyCompletedInstallationCount</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 py-2">
            <div class="card bg-primary text-white mb-0 shadow h-100">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-check-circle fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h6 class="pt-3 m-0 text-right">My Approved Installations</h6>
                                <h4 class="text-right pt-1 text-right w-100">@Model.MyApprovedInstallationCount</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 py-2">
            <div class="card bg-danger text-white mb-0 shadow h-100">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-times fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h6 class="pt-3 m-0 text-right">My Rejected Installations</h6>
                                <h4 class="text-right pt-1 text-right w-100">@Model.MyRejectedInstallationCount</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (User.IsInRole(Constants.ROLE_DISCO) && !(User.IsInRole(Constants.ROLE_ADMIN) || User.IsInRole(Constants.ROLE_SUPERVISOR)))
    {
        <div class="col-xl-3 col-lg-4 col-md-6 py-2">
            <div class="card bg-info text-white mb-0 shadow h-100">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-history fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h6 class="pt-3 m-0 text-right">Installations Pending Review</h6>
                                <h4 class="text-right pt-1 text-right w-100">@Model.CompletedInstallationCount</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 py-2">
            <div class="card bg-success text-white mb-0 shadow h-100">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-check-circle fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h6 class="pt-3 m-0 text-right">Approved Installations</h6>
                                <h4 class="text-right pt-1 text-right w-100">@Model.ApprovedInstallationCount</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 py-2">
            <div class="card bg-danger text-white mb-0 shadow h-100">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-times fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h6 class="pt-3 m-0 text-right">Rejected Installations</h6>
                                <h4 class="text-right pt-1 text-right w-100">@Model.RejectedInstallationCount</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>


@section css{
    <link href="~/lib/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
}

@section js{
    <script src="~/lib/Chart.js/chart.js"></script>
    <script src="~/lib/chartjs-plugin-datalabels/chartjs-plugin-datalabels.js"></script>
    <script src="~/lib/datatables.net/jquery.dataTables.js"></script>
    <script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    @*<script src="~/js/dashboard.js"></script>*@
}