@model DashboardVM;
@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Dashboard";
}

<h2 class="mt-4">Dashboard</h2>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><i class="fa fa-home"></i></li>
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
<!-- Batches raw data -->
<div class="row">
    @if (User.IsInRole(Constants.ROLE_ADMIN))
    {
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="card bg-primary text-white mb-4 shadow">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-users fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h5 class="pt-3 m-0 text-right">Users</h5>
                                <h4 class="text-right pt-1 text-right w-100">@Model.UsersCount</h4>
                            </div>
                        </div>
                    </div>

                </div>
                @*<div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white w-100" asp-controller="Users" asp-action="Index">
                            View Details
                            <div class="small text-white float-right"><i class="fas fa-angle-right"></i></div>
                        </a>

                    </div>*@
            </div>
        </div>
    }
    @if (User.IsInRole(Constants.ROLE_ADMIN) || User.IsInRole(Constants.ROLE_SUPERVISOR))
    {
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="card bg-lblue text-white mb-4 shadow">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-clipboard-list fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h6 class="pt-3 m-0 text-right">Total Applications</h6>
                                <h4 class="text-right pt-1 text-right w-100">@Model.TotalApplicationCount</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="card bg-light text-dark mb-4 shadow">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-clipboard-list fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h6 class="pt-3 m-0 text-right">Unassigned Applications</h6>
                                <h4 class="text-right pt-1 text-right w-100">@Model.UnassignedApplicationCount</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
    @if (User.IsInRole(Constants.ROLE_INSTALLER))
    {
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="card bg-primary text-white mb-4 shadow">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-clipboard-list fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h6 class="pt-3 m-0 text-right">Assigned Applications</h6>
                                <h4 class="text-right pt-1 text-right w-100">@Model.TotalAssignedApplicationCount</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="card bg-secondary text-white mb-4 shadow">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-history fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h6 class="pt-3 m-0 text-right">Pending Applications</h6>
                                <h4 class="text-right pt-1 text-right w-100">@Model.PendingApplicationCount</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="card bg-danger text-white mb-4 shadow">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-times-circle fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h6 class="pt-3 m-0 text-right">Failed Applications</h6>
                                <h4 class="text-right pt-1 text-right w-100">@Model.FailedApplicationCount</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="card bg-success text-white mb-4 shadow">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-check-circle fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h6 class="pt-3 m-0 text-right">Completed Applications</h6>
                                <h4 class="text-right pt-1 text-right w-100">@Model.CompletedApplicationCount</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    @if (User.IsInRole(Constants.ROLE_ADMIN))
    {
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="card bg-info text-white mb-4 shadow">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-money fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h6 class="pt-3 m-0 text-right">Total Income</h6>
                                <h5 class="text-right pt-1 text-right w-100">@Model.TotalIncome</h5>
                            </div>
                        </div>
                    </div>
                    <hr class="my-1" />
                    <div class="d-flex flex-row f14">
                        <p>Pending:</p>
                        <p class="flex-fill text-right">@Model.PendingIncome</p>
                    </div>
                    <div class="d-flex flex-row f14">
                        <p>Failed:</p>
                        <p class="flex-fill text-right">@Model.FailedIncome</p>
                    </div>
                    <div class="d-flex flex-row f14">
                        <p>Completed:</p>
                        <p class="flex-fill text-right">@Model.CompletedIncome</p>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="card bg-warning text-dark mb-4 shadow">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="align-self-center">
                            <div class="text-center">
                                <p> <i class="fa fa-comments fa-3x"></i></p>
                            </div>
                        </div>
                        <div class="flex-fill align-self-center">
                            <div class="pr-2">
                                <h6 class="pt-3 m-0 text-right">Feedbacks</h6>
                                <h4 class="text-right pt-1 text-right w-100">@Model.FeedbacksCount</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
    </div>


@section css{
    <link href="~/lib/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
}

@section js{
    <script src="~/lib/Chart.js/chart.js"></script>
    <script src="~/lib/chartjs-plugin-datalabels/chartjs-plugin-datalabels.js"></script>
    <script src="~/lib/datatables.net/jquery.dataTables.js"></script>
    <script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    @*<script src="~/js/dashboard.js"></script>*@
}